/* CSS declarations go here */
#loading_container {
    position: absolute;
    top: 50%;
    right: 50%;
    bottom: auto;
    left: auto;
    width: 20%;
    height: auto;
    transform: translate3d(50%, -50%, 0);
}