<head>
  <title>NoNoNo</title>
  <meta name="viewport" content="user-scalable=no, initial-scale=1, minimal-ui, maximum-scale=1, minimum-scale=1" />
</head>

<body>
    {{#if isLoading}}
      {{> loading}}
    {{else}}
      {{> main}}
    {{/if}}  

</body>

<template name="loading">
    <div id="loading_container"></div>
</template>

<template name="main">
    <button id="ROETOP" type="button">
        ROETOP
    </button>
    <button id="ZNZ_PAS" type="button">
        ZNZ_PAS
    </button>    
  {{#if state 0}}
    <div>
        <table>
            <thead>
                <tr>
                  <th>Code</th>
                  <th>Name</th>
                  <th>Avg. ROE</th>
                </tr>
            </thead>
            <tbody>
                {{#each roeTops }}
                  {{> roeTop}}
                {{/each}}                
            </tbody>
          </table>
    </div>
    {{/if}}
    {{#if state 1}}
    <div>
        <table>
            <thead>
                <tr>
                    <th>Normal[abs(ZNZ_PAS(any(5)))>16]</th>
                  </tr>                
                <tr>
                  <th>Code</th>
                </tr>
            </thead>
            <tbody>
                {{#each normalList }}
                  {{> znz}}
                {{/each}}                
            </tbody>
          </table>

          <table>
              <thead>
                  <tr>
                      <th>Abnormal[abs(ZNZ_PAS(all(5)))&lt;=16]</th>
                    </tr>                
                  <tr>
                    <th>Code</th>
                  </tr>
              </thead>
              <tbody>
                  {{#each abnormalList }}
                    {{> znz}}
                  {{/each}}                
              </tbody>
            </table>
    </div>
      
    {{/if}}    
</template>

<template name="roeTop">
    <tr>             
        <td><label>{{code}}</label></td>             
        <td><label>{{name}}</label></td>
        <td><label>{{avgROE}}</label></td>
    </tr>
</template>

<template name="znz">
    <tr>             
        <td><label>{{code}}</label></td>             
    </tr>
</template>
